@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blanco: #fefefe;
  --negro: #000000;
  --turquesa: #009999;
}

html {
  /* Usa una imagen de fondo y pone una capa translucida */
  background: linear-gradient(
    rgba(0,0,0,.8),
    rgba(0,0,0,.8)),
    url("../img/restaurante.jpg")
    no-repeat center center fixed;

  /* Se asegura de que la imagen se expanda en toda la pantalla */
  background-size: cover;
  height: 100%;
  overflow: hidden;

  /* Permite una animacion suave cuando se hace un scroll automatico */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  padding: 30px;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

/* Efecto de transicion al cambiar de categoria */
a {
  text-decoration: none;
  transition: all 0.3s ease;
}

h2 {
  margin-top: 0;
}

/* Establece que las columnas estaran una al lado de la otra */
.principal {
  display: flex;
  justify-content: space-between;
}

.columna {
  width: 50%;
}

.divisores {
  max-width: 500px;
  width: 100%;
}

.titulo {
  background-color: var(--blanco);
  color: var(--turquesa);
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo > i, h1 {
  margin-right: 10px;
  margin-left: 15px;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
}

.columna_Categorias {
  max-width: 500px;
  width: 100%;
  position: fixed;
}

.categorias {
  margin-top: 15px;
}

.iconos_Categorias {
  margin-right: 15px;
  margin-left: 40px;
  font-size: 1.4rem;
}

.opcion_Categorias {
  background-color: var(--blanco);
  color: var(--turquesa);
  min-width: 480px;
  height: 100px;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.25rem;
}

.opcion_Categorias:hover,
.opcion_Categorias.active {
  min-width: 500px;
  background-color: var(--turquesa);
  color: var(--blanco);
}
